<nav class="navbar">

  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="javascript:;" class="navbar-toggle">
          <i class="pi pi-bars" (click)="exibindoMenu = !exibindoMenu"></i>
          <button type="button" (click)="criarNovoAccessToken()">Novo access token</button>
        </a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!exibindoMenu">

    <li class="navbar-usuario" (click)="exibindoMenu = false">{{auth.jwtPayload?.nome}}</li>

    <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="auth.temPermissao('ROLE_PESQUISAR_LANCAMENTO')">
      <a routerLink="/lancamentos" (click)="exibindoMenu = false">Lançamentos</a>
    </li>

    <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="auth.temPermissao('ROLE_PESQUISAR_PESSOA')">
      <a routerLink="/pessoas" (click)="exibindoMenu = false">Pessoas</a>
    </li>

    <li class="navbar-menuitem">
      <a href="#" (click)="exibindoMenu = false">Logout</a>
    </li>
  </ul>

</nav>
